{{define "task"}}
----------------------------------
Task: {{.GetName}}
{{.Report}}
----------------------------------
{{- end }}

{{define "segment"}}
=====================================================
Segment: {{.Name}}
Id:  {{.Id}}
{{- range .Tasks}}{{template "task" .}}{{- end }}
=====================================================
{{- end }}
*****************************************************************
Business Process: {{.Name}}
***************************************************************

Id:  {{.InternalId}}
Name:       {{.Name}}
Label:      {{.Label}}
----------
Flow
----------
Id:   {{.Flow.Id}}
Name: {{.Flow.Name}}
{{- range .Flow.SegmentDefinitions}}{{template "segment" .}}{{- end }}