*****************************************************************
Command: {{.Header.CommandId}}
 Dfn Id - {{.Header.CommandDefinitionId}}
 Name - {{.Header.CommandName}}
 Reference Number - {{.Data.ReferenceNumber}}
 Data - {{.Data.JsonData}}
***************************************************************