*****************************************************************
Event: {{.Header.EventId}}
 Dfn Id  -{{.Header.EventDefinitionId}}
 Name - {{.Header.EventName}}
 Reference Number - {{.Data.ReferenceNumber}}
 Data{{.Data.JsonData}}
***************************************************************