
*****************************************************************
Worker: {{.WorkerId}} 
Employer: {{.Employer}}
*****************************************************************
Worker Internal Id:   {{.InternalId}}
Person Id: {{.PersonId}}
Pay: {{.Pay}
Employment Status: {{.EmploymentStatus}}
